{% extends 'masterpage.html' %}
{% load static %}

{% block header %}
<header>
    <a href="index.html" id="logo"><i class="fa-solid fa-laptop-code"></i> ONLINE COURSE MANAGEMENT</a>
    <div class="nav-options">
        <a href="/studenthome/">Home</a>
        <a href="/studenthome/courselist2/">Course List</a>
        <a href="/studenthome/batchlist2/">Batch List</a>
        <a href="/studenthome/updateprofile/">Update Profile</a>
        <a href="/studenthome/studentlogout/">Logout</a>
    </div>
</header>
{% endblock %}
<!-- {% block content %} -->
    <h2 class="rh" style="text-align: center;">Admission Form</h2>
<div class="form">

    {% for x in res %}
    <form class="r-form" method="post">
        {% csrf_token %}

        <!-- <table>
            <tr>
                <td>Batch id</td>
                <td>
                    <input type="text" value="{{ x.batchid }}" name="batchid" readonly>
                </td>
            </tr>

            <tr>
                <td>Batch Title</td>
                <td><input type="text" value="{{ x.batchtitle }}" name="batchtitle" readonly></td>
            </tr>

            <tr>
                <td>Start Date</td>
                <td><input type="date" value="{{ x.startdate }}" name="startdate" readonly></td>
            </tr>

            <tr>
                <td>Batch time</td>
                <td><input type="text" value="{{ x.batchtime }}" name="batchtime" readonly></td>
            </tr>

            <tr>
                <td>Faculty Name</td>
                <td><input type="text" value="{{ x.facultyname }}" name="facultyname" readonly></td>
            </tr>

            <tr>
                <td colspan="2" align="center"><input type="submit" value="book batch"></td>
            </tr>
        </table> -->

        <p>Batch id</p>
        <input type="text" value="{{ x.batchid }}" name="batchid" readonly>

        <p>Batch Title</p>
        <input type="text" value="{{ x.batchtitle }}" name="batchtitle" readonly>

        <p>Start Date</p>
        <input type="date" value="{{ x.startdate}}" name="startdate" readonly>

        <p>Batch time</p>
        <input type="text" value="{{ x.batchtime }}" name="batchtime" readonly>

        <p>Faculty Name</p>
        <input type="text" value="{{ x.facultyname }}" name="facultyname" readonly>
        <button type="submit">book batch</button>
    </form>
    {% endfor %}

</div>
<!-- {% endblock %} -->