{% extends 'masterpage.html' %}
{% load static %}

{% block header %}
<header>
    <a href="index.html" id="logo"><i class="fa-solid fa-laptop-code"></i> ONLINE COURSE MANAGEMENT</a>
    <div class="nav-options">
        <a href="/studenthome/">Home</a>
        <a href="/studenthome/courselist2/">Course List</a>
        <a href="/studenthome/batchlist2/">Batch List</a>
        <a href="/studenthome/updateprofile/">Update Profile</a>
        <a href="/studenthome/studentlogout/">Logout</a>
    </div>
</header>
{% endblock %}
{% block content %}
<div id="tooplate_main_top"></div>
<div id="tooplate_main">
    <div class="col_w900">
        <div class="cleaner"></div>
    </div>

    <div class="col_w900 col_w900_last">
        <div class="col_w580 float_l">
            <div class="con_tit_01">
                Batch List
                <table border="1" align="center">
                    <tr>
                        <th>batch id</th>
                        <th>batch title</th>
                        <th>start date</th>
                        <th>batch time</th>
                        <th>faculty name</th>
                        <th>option</th>
                    </tr>
                    {% for x in result %}
                    <tr>
                        <td>{{ x.batchid }}</td>
                        <td>{{ x.batchtitle }}</td>
                        <td>{{ x.startdate}}</td>
                        <td>{{ x.batchtime}}</td>
                        <td>{{ x.facultyname }}</td>
                        <td><a href="/studenthome/admission/?batchid={{ x.batchid }}">select batch </a></td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

        <div class="col_w280 float_r">
            <div class="cleaner"></div>
        </div>
    </div>
    <div class="cleaner"></div>
</div> <!-- end of main -->
{% endblock %}